.header {
	padding-top: 1rem;
	margin-bottom: 3rem;

	.header-row {
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
	}
	.github-icon {
		width: calc(1.375rem + 1.5vw);
		height: 100%;
		object-fit: contain;
	}
}

.cards-parent {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	margin-bottom: 2rem;

	.card {
		width: 6rem;
		font-size: 0.45rem;

		// force all icons to have the same border radius
		border-top-left-radius: 1.2rem;
		border-top-right-radius: 1.2rem;
		overflow: hidden;

		h3 {
			font-size: 1.8em;
		}
		.btn {
			font-size: 1.1em;
			max-width: 100%;
		}
	}
}

hr {
	margin: 3rem 0;
	opacity: 0;
}

@media screen and (min-width: 564px) {
	.cards-parent {
		.card {
			width: 10rem;
			font-size: 0.9rem;

			border-top-left-radius: 2rem;
			border-top-right-radius: 2rem;
		}
	}
}
