.header {
	padding-top: 1rem;
	margin-bottom: 3rem;

	.header-row {
		display: flex;
		flex-flow: row wrap;
		gap: 1rem;
		margin-bottom: 0.5rem;

		h1 {
			margin-bottom: 0;
		}
		.github-icon {
			width: calc(1.375rem + 1vw);
			height: 100%;
			object-fit: contain;
		}
	}
}

.cards-parent {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	margin-bottom: 2rem;

	.card {
		width: 6rem;
		font-size: 0.45rem;

		// force all icons to have the same border radius
		border: none;
		.card-img-top {
			border-top-left-radius: 1.2rem;
			border-top-right-radius: 1.2rem;
			border: 1px solid rgba(0,0,0,.125);
			border-bottom: 0;
			height: auto;
		}
		.card-body {
			border: 1px solid rgba(0,0,0,.125);
			border-top: none;
		}

		h3 {
			font-size: 1.8em;
		}
		.btn-group {
			width: 100%;
		}
		.btn {
			font-size: 1.1em;
			max-width: 100%;
			padding: .250rem .50rem;
		}
		.btn.dropdown-toggle-split {
			padding: 0;
			padding-inline-end: 0.25rem;
		}
		.dropdown-divider {
			width: 65%;
			opacity: 0.25;
			margin: .5rem auto;
		}
	}
}

hr {
	margin: 3rem 0;
	opacity: 0;
}

@media screen and (min-width: 564px) {
	.cards-parent {
		.card {
			width: 10rem;
			font-size: 0.9rem;

			.card-img-top {
				border-top-left-radius: 2rem;
				border-top-right-radius: 2rem;
			}
		}
	}
}
